.title {
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
}

.Task {
    font-family: 'Inter', sans-serif;
    width: 288px;
    height: 91px;
    border: 1px solid #DEDFE0;
    margin-bottom: 8px;
}

.Task.active {
    background-color: #E6F6F1;
    border: 1px solid #B5EADD;
}

.Task .Task_btn {
    cursor: pointer;
}

.Task .Task_main {
    width: 264px;
    height: 67px;
    margin: 12px;
}

.Task .Task_main .Task_main_title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align-last: left;
    margin-bottom: 8px;
    color: rgba(40, 43, 45, 0.92)
}

.Task .Task_main .Task_main_deadlines {
    width: 103px;
    height: 18px;
    padding: 1px 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
    color: #282B2D;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.Task .Task_main .Task_main_info {
    display: flex;
    justify-content:space-between;
    color: rgba(40, 43, 45, 0.6)
}
.Task .Task_main .Task_main_info .Task_main_info_comm {
    width: 60px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Task .Task_main .Task_main_info .Task_main_info_comm {
    font-size: 14px;
}

.Task .dropdown {
    position: absolute;
    width: 248px;
    height: 229px;
    border: 1px solid #DEDFE0;
    padding: 16px 20px 18px 20px;
    margin-top: 8px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
}

.Task .dropdown::before {
    position: absolute;
    top: -5.8px;
    left: 12px;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 1px solid #DEDFE0;
    border-right: 1px solid #DEDFE0;
    transform: rotate(-45deg);
    background-color: white;
}

.Task .dropdown.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


.Task .dropdown .dropdown_title {
    width: 236px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 16px;
}

.Task .dropdown .dropdown_executor {
    width: 248px;
    height: 54px;
    margin-bottom: 16px;
}

.Task .dropdown .dropdown_executor .dropdown_executor_wrapper{
    display: flex;
    align-items: center;
}

.Task .dropdown .dropdown_executor .dropdown_executor_title {
    margin-bottom: 6px;
}

.Task .dropdown .dropdown_executor .dropdown_executor_wrapper .dropdown_executor_wrapper_list {
    width: 220px;
    height: 32px;
    margin-right: 12px;
}

.Task .dropdown .dropdown_deadlines {
    width: 248px;
    height: 54px;
    margin-bottom: 16px;
}

.dropdown_deadlines_body_input {
    width: 246px;
    height: 30px;
    padding: 0;
    border: 1px solid rgb(112, 112, 112);
}

.Task .dropdown .dropdown_categories {
    width: 248px;
    height: 54px;
    margin-bottom: 16px;
}

.Task .dropdown .dropdown_categories .dropdown_categories_title {
    margin-bottom: 6px;
}

.Task .dropdown .dropdown_categories .dropdown_categories_list {
    width: 248px;
    height: 32px;
}