.dropdown {
    position: absolute;
    width: 248px;
    height: 229px;
    border: 1px solid #DEDFE0;
    padding: 16px 20px 18px 20px;
    margin-top: 8px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
}

.dropdown.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


.dropdown_title {
    width: 236px;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 16px;
}


.dropdown_categories {
    width: 248px;
    height: 54px;
}



.dropdown::before {
    position: absolute;
    top: -5.8px;
    left: 12px;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 1px solid #DEDFE0;
    border-right: 1px solid #DEDFE0;
    transform: rotate(-45deg);
    background-color: white;
}
